<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css" />
</head>

<body>
    <header class="nav">
        <div class="title-div">
            <h4 class="title-text">NEWS BLOG</h4>
            <p class="sub-title-text">WORLDWIDE NEWS</p>
        </div>
    </header>
    <div class="filters-div">
        <div class="col">
            <label>SELECT CATEGORY</label>
            <select>
                <option>ALL</option>
                <option>BUSINESS</option>
                <option>WORLD</option>
                <option>SPORTS</option>
            </select>
        </div>
        <div class="col title-text">
            ALL NEWS
        </div>
        <div class="col">
            <label>SUBSCRIBE</label>
            <div class="input-div">
                <input placeholder="Email Address" />
                <button>Subscribe</button>
            </div>
        </div>
    </div>
    <div class="list-of-cards">
        <div class="single-card">
            <div class="img">
            </div>
            <div class="card-right">
                <div class="top">
                    <h3 class="title-text">Title One</h3>
                    <sub>Posted on <strong>29 June, 2019</strong> // Category: <strong>Category One</strong></sub>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius
                    mod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius
                    mod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo
                </p>
                <button>Continue Reading</button>
            </div>
        </div>
        <div class="single-card">
            <div class="img">
            </div>
            <div class="card-right">
                <div class="top">
                    <h3 class="title-text">Title Two</h3>
                    <sub>Posted on <strong>22 June, 2019 </strong>// Category <strong>Category One</strong></sub>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius
                    mod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius
                    mod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo
                </p>
                <button>Continue Reading</button>
            </div>
        </div>
        <div class="single-card">
            <div class="img">
            </div>
            <div class="card-right">
                <div class="top">
                    <h3 class="title-text">Title Three</h3>
                    <sub>Posted on <strong>20 June, 2019</strong> // Category <strong>Category One</strong></sub>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius
                    mod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius
                    mod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo
                </p>
                <button>Continue Reading</button>
            </div>
        </div>
    </div>
    <footer>
        <p>&#169; NewsFeed 2019</p>
    </footer>
    <script src="./app.js"></script>
</body>

</html>